.export-user-data {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 0 auto;
    .icon {
        font-size: 20px;
    }

    .export-but {
        cursor: pointer;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-around;

        transition: all 0.3s ease;
        width: 200px;
        height: 30px;
        border: 1px solid grey;
        border-radius: 5px;
        &:hover {
            transform: scale(1.05);
            -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
            -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
        }
    }
    // width: 950px;
    // height: 100px;
}
