@keyframes spinning {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}
.loading-spinner {
    display: inline-block;
    position: relative;
    width: 120px;
    height: 120px;
    margin-top: 200px;
    div {
        position: absolute;
        width: 32px;
        height: 32px;
        // margin: 20px;
        border-radius: 50%;
        background: rgb(95, 172, 108);
        animation: spinning 1.2s linear infinite;
        // padding: 10px;
        &:nth-child(1) {
            top: 8px;
            left: 8px;
            animation-delay: 0s;
        }
        &:nth-child(2) {
            top: 8px;
            left: 44px;
            animation-delay: -0.4s;
        }
        &:nth-child(3) {
            top: 8px;
            left: 80px;
            animation-delay: -0.8s;
        }
        &:nth-child(4) {
            top: 44px;
            left: 8px;
            animation-delay: -0.4s;
        }
        &:nth-child(5) {
            top: 44px;
            left: 44px;
            animation-delay: -0.8s;
        }
        &:nth-child(6) {
            top: 44px;
            left: 80px;
            animation-delay: -1.2s;
        }
        &:nth-child(7) {
            top: 80px;
            left: 8px;
            animation-delay: -0.8s;
        }
        &:nth-child(8) {
            top: 80px;
            left: 44px;
            animation-delay: -1.2s;
        }
        &:nth-child(9) {
            top: 80px;
            left: 80px;
            animation-delay: -1.6s;
        }
    }
}
